<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/pic/icon.png" />
  <!-- <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" /> -->

  <!-- Custom CSS -->
  <link href="static/header.css" rel="stylesheet">
  <link href="static/footernew.css" rel="stylesheet">
  <link href="static/contentpage.css" rel="stylesheet">

  <title>待施工 | 春分</title>
</head>
<body>
  <!-- Loading effect -->
  <div id="loaderbox" style="position: relative;width: 100%;height: 90vh;">
    <div class="loader">
      <div class="dot"></div>
    </div>
  </div>

    <!-- Nav -->
    <!-- {% include 'header.html' %} -->
    <nav class="w">
      <div class="navbox" id="navbox">
        <!-- logo模块 -->
        <div class="logo" id="logo">
          <a href="mylayout.html"><img src="static/pic/icon.png"></a>
        </div>
        <!-- 目录模块 -->
        <ul class="dropmenu">
            <li>
              <a href="#">四季</a>
              <ul>
                <li><a href="spring.html">春</a></li>
                <li><a href="tbc.html">夏</a></li>
                <li><a href="tbc.html">秋</a></li>
                <li><a href="tbc.html">冬</a></li>
              </ul>
            </li>
            <li>
              <a href="#">节气</a>
              <ul>
                <li><a href="tbc.html">由来</a></li>
                <li><a href="tbc.html">故事集</a></li>
              </ul>
            </li>
            <li>
              <a href="tbc.html">关于</a>
              <ul>
                <li><a href="tbc.html">作者</a></li>
                <li><a href="tbc.html">支持</a></li>
              </ul>
            </li>
        </ul>   
      </div>   
    </nav>

    <!-- Page Content -->
    <!-- {% block page_content %}{% endblock %} -->
    <div class="pagebody">
      <div class="menubox">
          <div class="t1"><a href="#a1">目录</a></div>
      </div>
      <div class="content">
        <div class="section">
          <a name="a1" style="position: relative;top: -10vh;"></a>
          <div class="title">待施工</div>
          <div>
            <p>样例内容见“四季·春”</p>
          </div>
        </div>
        
      </div>
    </div>

    <!-- Footer -->
    <!-- {% include 'footer.html' %} -->
    <footer>
      <div id="spirit">Spirit from <a href="https://mp.weixin.qq.com/s/0xCyNRr4sAgRh8Op4BeiBQ">新世相</a></div>
      <div id="spirit">© 2023 - Sheny</a></div>
      <div id="spirit">Source code <a href="https://github.com/waterrrrrrrr/igemhw">HERE</a></div>
    </footer>
  
    
    <script src="static/contentpage.js"></script>
  </body>