{% extends "layout.html" %}
  
{% block title %}Home{% endblock %}
<!-- {% block lead %}Describe how and why you chose your iGEM project.{% endblock %} -->

{% block page_content %}

<!-- CSS -->
<link href="{{ url_for('static', filename = 'home.css')}}" rel="stylesheet">

<!-- Main Part -->
<a name="top"></a>

<div class="back-box">
  <a href="#top">
    <img src="{{ url_for('static', filename = 'svgs/back2top.svg')}}" alt=" " class="back2top">
  </a>
</div>

<div class="home-pic">
  <img src="{{ url_for('static', filename = 'svgs/homepage/Group 242.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home1.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home2.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home3.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home4.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home5.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home6.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home7.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home8.png')}}" alt=" " >
  <img src="{{ url_for('static', filename = 'svgs/homepage/home9.png')}}" alt=" " >
</div>

<div class="v">
  <video width="80%" height=auto controls >
    <source src="{{ url_for('static', filename = '2.mp4')}}" type="video/mp4">
  </video>
</div>


<script src="{{ url_for('static', filename = 'dp.js') }}"></script>

{% endblock %}
