{% extends "layout.html" %}
  
{% block title %}Implementation{% endblock %}
<!-- {% block lead %}Describe how and why you chose your iGEM project.{% endblock %} -->

{% block page_content %}

<!-- CSS -->
<link href="{{ url_for('static', filename = 'cont-page.css')}}" rel="stylesheet">

<!-- Main Part -->
<a name="top"></a>

<div class="cont-title-box">
  <!-- <div class="cont-title-word">{{ self.title() }}</div> -->
  <img src="{{ url_for('static', filename = 'svgs/implementation.png')}}" alt="content's title" class="cont-title-pic">
</div>

<div class="back-box">
  <a href="#top">
    <img src="{{ url_for('static', filename = 'svgs/back2top.svg')}}" alt=" " class="back2top">
  </a>
</div>

<div class="pagebody">
  <div class="menubox">
    <div class="title0">{{ self.title() }}</div>
    <div class="title1"><a href="#p1">- Introduction</a></div>
    <div class="title1"><a href="#p2">- Background</a></div>
    <div class="title2"><a href="#p2-1">· Introduction of Cardiopathy</a></div>
    <div class="title2"><a href="#p2-2">· Current methods of diagnosis and diagnostic aids in the market at this stage</a></div>
    <div class="title1"><a href="#p3">- Product usage</a></div>
    <div class="title1"><a href="#p4">- Target user analysis</a></div>
      <div class="title2"><a href="#p4-1">· People who are concerned about heart health or are at risk for heart disease should use the product for self-testing</a></div> 
      <div class="title2"><a href="#p4-2">· There is a need for home testing for heart disease, but the current home testing products are not satisfied</a></div> 
      <div class="title2"><a href="#p4-3">· It is used for screening heart diseases in communities and hospitals</a></div> 
    <div class="title1"><a href="#p5">- Product optimization & features</a></div>
    <div class="title1"><a href="#p6">- Safety & Ethics</a></div>
    <div class="title1"><a href="#p7">- Future prospects</a></div>
      <div class="title2"><a href="#p7-1">· Clinical trials</a></div> 
      <div class="title2"><a href="#p7-2">· Entrepreneurship</a></div> 
    <div class="title1"><a href="#p8">- Challenges</a></div>
    <div class="title1"><a href="#p9">- References</a></div>
  </div>

  <div class="contentbox">
    <div class="part">
      <div class="s1">
        <a name="p1" style="position: relative; top: -14vh;"></a>
        <h2>
          <img src="{{ url_for('static', filename = 'svgs/title_logo.svg')}}" alt=" " class="titlelogo">
          <div class="cont-h1">Introduction</div>
        </h2>
        <p class="underh2">
          In this page, We will introduce how <strong>Telepathy</strong>is implemented and optimized according to the needs of target users. At every step of the project, we sought out the relevant literature to support the <strong>Telepathy</strong> product to ensure that it was effectively advanced in practice. We also discuss the safety and ethical justifications of <strong>Telepathy</strong>, and we briefly discuss the commercialization possibilities of <strong>Telepathy</strong>  (Link to HP Entrepreneurship Page), as well as future directions and challenges.
        </p>
        
      </div>
    </div>
    
    <div class="part">
      <div class="s1">
        <a name="p2" style="position: relative; top: -14vh;"></a>
        <h2>
          <img src="{{ url_for('static', filename = 'svgs/title_logo.svg')}}" alt=" " class="titlelogo">
          <div class="cont-h1">Background</div>
        </h2>
        <h3>
          <img src="{{ url_for('static', filename = 'svgs/subtitle_logo.svg')}}" alt=" " class="subtitlelogo">
          <div class="cont-h2">Introduction of Cardiopathy</div>
        </h3>
        <p class="underh3">
          For nearly three decades, cardiovascular disease has been the leading cause of death worldwide. The number of deaths from cardiovascular disease is increasing globally, particularly due to ageing populations. According to the WORLD HEART REPORT 2023 released by the World Heart Federation (WHF), 20.5 million people will die from cardiovascular disease in 2021, which is about one third of all deaths worldwide.
        </p>
        <p class="underh3">
          Heart disease is the main type of cardiovascular disease. Heart disease can be divided into congenital heart disease (congenital malformation) and acquired heart disease. Among them, acquired heart disease accounts for the majority, such as coronary heart disease, rheumatic heart disease, hypertensive heart disease, cardiomyopathy, sick sinus syndrome, etc., causing atrial fibrillation, heart failure and other symptoms.
        </p>
        <h3>
          <img src="{{ url_for('static', filename = 'svgs/subtitle_logo.svg')}}" alt=" " class="subtitlelogo">
          <div class="cont-h2">Current methods of diagnosis and diagnostic aids in the market at this stage</div>
        </h3>
        <p class="underh3">
          At present, the diagnosis of heart disease is mainly through clinical symptoms (such as chest pain, dyspnea, etc.), physical examination (heart murmur, hypertension, etc.) and other ways to screen, through electrocardiogram (ECG), echocardiography, cardiac magnetic resonance imaging, etc.
        </p>
        <!-- 此处有表格 -->
      </div>
    </div>

    <div class="part">
      <div class="s1">
        <a name="p3" style="position: relative; top: -14vh;"></a>
        <h2>
          <img src="{{ url_for('static', filename = 'svgs/title_logo.svg')}}" alt=" " class="titlelogo">
          <div class="cont-h1">Product usage</div>
        </h2>
        <a name="p3-1" style="position: relative; top: -12vh;"></a>
        
        
        <div class="insertimg">
          <img src="{{ url_for('static', filename = 'svgs/i/steps.png')}}" alt=" ">
          <div class="img_descr">
            operation usage
          </div>
        </div>
        
      </div>
    </div>

    <div class="part">
      <div class="s1">
        <a name="p4" style="position: relative; top: -14vh;"></a>
        <h2>
          <img src="{{ url_for('static', filename = 'svgs/title_logo.svg')}}" alt=" " class="titlelogo">
          <div class="cont-h1">Target user analysis</div>
        </h2>
        <a name="p4-1" style="position: relative; top: -12vh;"></a>
        <h3>
          <img src="{{ url_for('static', filename = 'svgs/subtitle_logo.svg')}}" alt=" " class="subtitlelogo">
          <div class="cont-h2">People who are concerned about heart health or are at risk for heart disease should use the product for self-testing</div>
        </h3>
        <p class="underh3">
          <strong>Analysis:</strong></p>
        <p class="underh3">Most people care about their heart health.<br> 
          Many people are at risk for heart disease and have heart-related symptoms.<br> 
          Many people worry about damage to the heart from work.<br> 
          But only a small number of people will go to the hospital for regular physical examinations and heart checks.</p>
          <p class="underh3"><strong>Data:</strong></p>
          <p class="underh3">A total of 205 samples were collected in this study, of which 201 were valid.</p>
          <p class="underh3">76.12% of respondents were familiar with heart disease, suffered from it themselves or had heard of someone suffering from it.</p>
          <p class="underh3">Among them, 36.82% of the respondents believe that heart disease is very common and many people have it.</p>
          <p class="underh3">In addition, 23.88% of people think that heart-related diseases are very distant and have not been heard of.</p>
          <p class="underh3">It can be seen that heart-related diseases are common in people's lives, but there are still some people who lack awareness of this.</p>
        <div class="insertimgnew">
          <img src="{{ url_for('static', filename = 'svgs/i/1.PNG')}}" alt=" " class="pic-decoration">
          <div class="img_descr">
            What do you know about heart-related diseases?
          </div>
        </div>
        <p class="underh3">69.04% of the respondents had experienced symptoms related to heart disease.</p>
        <p class="underh3">43.65% of the respondents had symptoms of chest tightness and pain.</p>
        <p class="underh3">52.28% of respondents had symptoms of tachycardia, palpitation and palpitation.</p>
        <p class="underh3">However, only 24.26% of respondents with these symptoms had been to the hospital for examination, and 75.74% had not been to the hospital.</p>
        <div class="insertimgnew">
          <img src="{{ url_for('static', filename = 'svgs/i/3.PNG')}}" alt=" " class="pic-decoration">
          <div class="img_descr">
            Which of the following has happened to you?
          </div>
        </div>
        <div class="insertimgnew">
          <img src="{{ url_for('static', filename = 'svgs/i/4.PNG')}}" alt=" " class="pic-decoration">
          <div class="img_descr">
            If you have the above symptoms, have you gone to the hospital specifically for examination?
          </div>
        </div>
        <p class="underh3">The majority of respondents (42.79%) said they rarely visited a hospital for a physical examination, accounting for nearly half of the total.</p>
        <p class="underh3">The proportion of people who have a medical examination at least once a year is 22.89%, indicating that a small number of people attach great importance to medical examination.</p>
        <p class="underh3">29.85% of the respondents chose to have a physical examination every 2-3 years, indicating that a small number of people have maintained a more regular physical examination habit.</p>
        <p class="underh3">The number of people who chose to have a physical examination more than 3 years accounted for 4.48%, which is a relatively small proportion of people.</p>
        <p class="underh3">It can be seen from the data that most people do not attach much importance to physical examination, and relatively few people maintain regular physical examination habits. This shows that it is very necessary to strengthen health education and physical examination publicity and raise public awareness of the importance of physical examination, and the application of this project product in the early screening of the risk of heart-related diseases is closely related to it.</p>
        <div class="insertimgnew">
          <img src="{{ url_for('static', filename = 'svgs/i/5.PNG')}}" alt=" " class="pic-decoration">
          <div class="img_descr">
            How often do you go to the hospital for a physical examination?
          </div>
        </div>
        <p class="underh3">On a scale of one to five, respondents were concerned about their heart damage from overwork.</p>
        <p class="underh3">Worry about the degree distribution is as follows: 1 (12.44%), 2 (15.42%), 3 (33.33%), 4 (23.38%), 5 (15.42%). As can be seen, the option with a worry level of 3 has the highest percentage at 33.33%.</p>
        <p class="underh3">According to the calculation, the average score is 3.14. This means that overall, the participants were at a moderate to high level of concern about their heart damage from overwork.</p>
        <p class="underh3">In summary, the participants' concern about their heart damage due to overwork was moderately high on the whole.</p>
        <div class="insertimgnew">
          <img src="{{ url_for('static', filename = 'svgs/i/6.PNG')}}" alt=" " class="pic-decoration">
          <div class="img_descr">
            How worried are you that your heart will be damaged by overwork?
          </div>
        </div>

        <h3>
          <img src="{{ url_for('static', filename = 'svgs/subtitle_logo.svg')}}" alt=" " class="subtitlelogo">
          <div class="cont-h2"> There is a need for home testing for heart disease, but the current home testing products are not satisfied</div>
        </h3>
        <p class="underh3">
          <strong>Analysis:</strong></p>
        <p class="underh3">
          There is a need for home testing (for yourself or your family), but the existing product features cannot be met.
        </p>
        <p class="underh3">
          <strong>Data:</strong></p>
        <p class="underh3">
          87.56% of the respondents believe that they or their elderly family members need a home heart monitoring product, so most people have a high demand for home heart monitoring products.
        </p>
        <div class="insertimgnew">
          <img src="{{ url_for('static', filename = 'svgs/i/7.PNG')}}" alt=" " class="pic-decoration">
          <div class="img_descr">
            Regardless of economics, do you think you (or an older family member) need a home heart monitoring product?
          </div>
        </div>
        <p class="underh3">
          However, 91.04% of people have not used the current home ECG monitor.
        </p>
        <div class="insertimgnew">
          <img src="{{ url_for('static', filename = 'svgs/i/8.PNG')}}" alt=" " class="pic-decoration">
          <div class="img_descr">
            Have you ever used a home ECG monitor?
          </div>
        </div>
        <p class="underh3">The reason is that there are many shortcomings in the home heart monitoring products currently on the market.</p>
        <p class="underh3">Unable to monitor for a long time, only a short period of time can detect the heart condition is considered to be the biggest disadvantage of current home ECG detection equipment, accounting for 46.77%.</p>
        <p class="underh3">The high price is considered to be one of the main shortcomings of current home ECG testing equipment, accounting for 46.27%.</p>
        <p class="underh3">Low reliability and inaccurate detection are considered to be one of the main shortcomings of current home ECG detection equipment, accounting for 40.8%.</p>
        <p class="underh3">Complex operation, data results can not be understood is also considered to be one of the main shortcomings of home ECG testing equipment, accounting for 37.31%.</p>
        <p class="underh3">A long detection time is also considered to be the shortcomings of current home ECG testing equipment, accounting for 14.43%.</p>
        <p class="underh3">In summary, unable to monitor for a long time, complex operation, low credibility, and high price are the main shortcomings of current home ECG testing equipment.</p>
        <div class="insertimgnew">
          <img src="{{ url_for('static', filename = 'svgs/i/9.PNG')}}" alt=" " class="pic-decoration">
          <div class="img_descr">
            What do you think are the disadvantages of current home ECG testing equipment?
          </div>
        </div>

        <p class="underh3">Most people care about their heart health.</p>
        <p class="underh3">Many people are at risk for heart disease and have heart-related symptoms.</p>
        <p class="underh3">Many people worry about damage to the heart from work.</p>
        <p class="underh3">But only a small number of people will go to the hospital for regular physical examinations and heart checks.</p>

        




    
      </div>
    </div>

    <div class="part">
      <div class="s1">
        <a name="p5" style="position: relative; top: -14vh;"></a>
        <h2>
          <img src="{{ url_for('static', filename = 'svgs/title_logo.svg')}}" alt=" " class="titlelogo">
          <div class="cont-h1">Quotes</div>
        </h2>
        <p class="quote">
          [1] Deng H, Shantsila A, Guo P, Zhan X, Fang X, Liao H, Liu Y, Wei W, Fu L, Wu S, Xue Y, Lip GYH. Multiple biomarkers and arrhythmia outcome following catheter ablation of atrial fibrillation: The Guangzhou Atrial Fibrillation Project. J Arrhythm. 2018 Aug 31;34(6):617-625. doi: 10.1002/joa3.12111. PMID: 30555605; PMCID: PMC6288553.
        </p>
        <p class="quote">
          [2]Esteller, M. Non-coding RNAs in human disease. Nat Rev Genet 12, 861-874 (2011).doi.org/10.1038/nrg3074
        </p>
        <p class="quote">
          [3]Zhu L, Wang Z, Sun L, Zheng D, Hu B, Li N, Shao G. Hsa_circ_0000437 upregulates and promotes disease progression in rheumatic valvular heart disease. J Clin Lab Anal. 2022 Feb;36(2):e24197. doi: 10.1002/jcla.24197. Epub 2021 Dec 24. PMID: 34952991; PMCID: PMC8842158.
        </p>
        <p class="quote">
          [4]Cao Z. Practical exploration of aptamer in drug toxicant analysis[J].Science and technology style,2019(35):133.DOI:10.19392/j.cnki.1671-7341.201935113.
        </p>
        <p class="quote">
          [5]Wang Yutian, Qu Han, Hao LYu, et al. Rapid detection of Escherichia coli 0157:H7 based on nucleic acid aptamer SERS technique[].Chinese Journal of Pathogen Biology，2018(1):1621.
        </p>
        <p class="quote">
          [6]Boyalla V, Harling L, Snell A, Kralj-Hans I, Barradas-Pires A, Haldar S, Khan HR, Cleland JGF, Athanasiou T, Harding SE, Wong T. Biomarkers as predictors of recurrence of atrial fibrillation post ablation: an updated and expanded systematic review and meta-analysis. Clin Res Cardiol. 2022 Jun;111(6):680-691. doi: 10.1007/s00392-021-01978-w. Epub 2022 Jan 9. PMID: 34999932; PMCID: PMC9151522.
        </p>
        <p class="quote">
          [7]Zeng Ling, CAI Nengbin, PAWLOWSKANatalia.Application of aptamer recognition technology in forensic toxicology analysis].Criminal technique, 2017, 42(1):5260.
        </p>
        <p class="quote">
          [8]Xu Y, Zheng Z. Direct RNA detection without nucleic acid purification and PCR: Combining sandwich hybridization with signal amplification based on branched hybridization chain reaction. Biosens Bioelectron. 2016 May 15;79:593-9. doi: 10.1016/j.bios.2015.12.057. Epub 2015 Dec 21. PMID: 26761615.
        </p>
      </div>
    </div>
    </div>
</div>

<script src="{{ url_for('static', filename = 'dp.js') }}"></script>

{% endblock %}
