{% extends "layout.html" %}
  
{% block title %}Member{% endblock %}
<!-- {% block lead %}Describe how and why you chose your iGEM project.{% endblock %} -->

{% block page_content %}

<!-- CSS -->
<link href="{{ url_for('static', filename = 'cont-page.css')}}" rel="stylesheet">

<!-- Main Part -->
<a name="top"></a>

<div class="cont-title-box">
  <!-- <div class="cont-title-word">{{ self.title() }}</div> -->
  <img src="{{ url_for('static', filename = 'svgs/member.png')}}" alt="content's title" class="cont-title-pic">
</div>

<div class="back-box">
  <a href="#top">
    <img src="{{ url_for('static', filename = 'svgs/back2top.svg')}}" alt=" " class="back2top">
  </a>
</div>

<div class="pagebody">
  <div class="menubox">
    <div class="title0">{{ self.title() }}</div>
    <div class="title1"><a href="#p1">- Wet Lab</a></div>
    <div class="title1"><a href="#p2">- Human Practice</a></div>
    <div class="title1"><a href="#p3">- Dry Lab</a></div>
  </div>

  <div class="contentbox">
    <div class="part">
      <div class="s1">
        <a name="p1" style="position: relative; top: -14vh;"></a>
        <h2>
          <img src="{{ url_for('static', filename = 'svgs/title_logo.svg')}}" alt=" " class="titlelogo">
          <div class="cont-h1">Wet Lab</div>
        </h2>
        <div class="insertimg subtle2">
          <img src="{{ url_for('static', filename = 'svgs/t/wet.png')}}" alt=" ">
        </div>
      </div>
    </div>

    <div class="part">
      <div class="s1">
        <a name="p2" style="position: relative; top: -14vh;"></a>
        <h2>
          <img src="{{ url_for('static', filename = 'svgs/title_logo.svg')}}" alt=" " class="titlelogo">
          <div class="cont-h1">Human Practice</div>
        </h2>
        <div class="insertimg subtle1">
          <img src="{{ url_for('static', filename = 'svgs/t/hup.png')}}" alt=" ">
        </div>
      </div>
    </div>
    
    <div class="part">
      <div class="s1">
        <a name="p3" style="position: relative; top: -14vh;"></a>
        <h2>
          <img src="{{ url_for('static', filename = 'svgs/title_logo.svg')}}" alt=" " class="titlelogo">
          <div class="cont-h1">Dry Lab</div>
        </h2>
        <div class="insertimg">
          <img src="{{ url_for('static', filename = 'svgs/t/dry.png')}}" alt=" ">
        </div>
      </div>
    </div>
    
  </div>
</div>

<script src="{{ url_for('static', filename = 'dp.js') }}"></script>

{% endblock %}
