body { 
    /* padding-top: 56px;  */
    background-color: #202632;
}
.pagebody {
    /* 计算不包括滚动条的宽度 */
    width: calc(100% - 7px);
}
.left-aligned { margin-left: auto; }
/* .bg-dark { background-color: rgba(60, 73, 96, 0.6) !important; } */
.bg-hero { background-color: #45b06cff; }
a {
    color: inherit; /* 继承父元素的文本颜色 */
    text-decoration: none;
}
/* CALLOUT */
/* .bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f } */
.back2top {
    width: 4rem;
    position: fixed;
    right: 8px;
    bottom: 8px;
}
strong{
    color: #75BC8D;
}


 ::-webkit-scrollbar {
    width: 7px; /* 设置滚动条宽度 */
    height: 7px;
}

/* 定制滚动条轨道 */
 ::-webkit-scrollbar-track {
    /* 隐藏滚动条的轨道 */
    background: transparent; /* 轨道背景色 */
}

/* 定制滚动条滑块 */
 ::-webkit-scrollbar-thumb {
    background: #8A8A8A; /* 滑块颜色 */
    border-radius: 10px;
}

/* footer */
.box0 {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* translate: -5%; */
}
.box0 p {
    margin: 0 2rem 0 2rem ;
}
.footer-img img{
    height: 3rem;
    margin-bottom: 2rem;
}
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }
