footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #CFDDBC;
    opacity: 0.62;
    height: 30px;
    width: 100%;
}
footer div{
    padding: 0 40px;
    color: #5F8473;
    font-size: 13px;
}
footer a{
    font-weight: 400;
    color: #285F44;
    padding: 1px;
    border-bottom:0.05rem solid #285F44;
}